<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .error{
            color:red;
            font-size: 8px;
            }
            .required{
           color:red;
           font-size: 8px;
            }
            
        </style>
    </head>
    <body>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{form}}
                
            <button type="submit">Submit</button>
        </form>
        


     
        
    </body>
</html>
