<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
            <form method="POST">
                {% csrf_token %}
                
                <!-- Render form field for 'name' -->
                <label for="id_name">Name:</label>
                {{ form.name }}
                <!-- Display error for 'name' field -->
                {% if form.name.errors %}
                    <ul>
                        {% for error in form.name.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                <hr>
                <!-- Render form field for 'email' -->
                <label for="id_email">Email:</label>
                {{ form.email }}
                <!-- Display error for 'email' field -->
                {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                <hr>
                
                    
                    <!-- Render form field for 'name' -->
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                    <!-- Display error for 'name' field -->
                    {% if form.password.errors %}
                        <ul>
                            {% for error in form.password.errors %}
                                <li style="color: red;">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <br>
                    <hr>
                    <!-- Render form field for 'email' -->
                    <label for="id_rpassword">RPassword:</label>
                    {{ form.rpassword }}
                    <!-- Display error for 'email' field -->
                    {% if form.rpassword.errors %}
                        <ul>
                            {% for error in form.rpassword.errors %}
                                <li style="color: red;">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <br>
                    <hr>
            
            <button type="submit">Submit</button>
        </form>
        


     
        
    </body>
</html>
