<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .errorlist{
                color:red;
                list-style-type:none;

            }
        </style>
    </head>
    <body>
        <form method="POST" novalidate>
                {% csrf_token %}
                {{form.non_field_errors}}
                {% for field in form %}
                <div>
                    {{field.label_tag}} {{field}} <span>{{field.errors}}</span>
                </div>
                {% endfor %}
            <button type="submit">Submit</button>
        </form>
        


     
        
    </body>
</html>
